https://machinelearningmastery.com/time-series-prediction-lstm-recurrent-neural-networks-python-keras/

In [54]:
import pandas as pd
from pandas_datareader import data
import fix_yahoo_finance as yf

In [66]:
yf.pdr_override()

start_date = '2017-01-01'
end_date = '2017-12-31'
tickers = ['^KQ11']
df_seed = data.get_data_yahoo(tickers, start_date, end_date)

[*********************100%***********************]  1 of 1 downloaded

In [58]:
# df=df[['Close']]

In [75]:
df = df_seed
df.head()

                  Open        High         Low       Close   Adj Close  Volume
Date
2017-01-03  633.299988  636.650024  633.099976  636.570007  636.570007  622500
2017-01-04  638.729980  639.909973  636.739990  639.789978  639.789978  617500
2017-01-05  642.010010  642.640015  640.869995  642.479980  642.479980  811300
2017-01-06  643.960022  644.169983  641.960022  643.679993  643.679993  758400
2017-01-09  645.919983  645.919983  642.150024  642.150024  642.150024  667300

In [69]:
import numpy
import matplotlib.pyplot as plt
import pandas 
import math
from keras.models import Sequential
from keras.layers import Dense, LSTM
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

In [70]:
range(len(df)-1-3)

range(0, 234)

In [71]:
len(df)-1-3 + 3

237

In [74]:
df[len(df)-1-3:len(df)-1-3 + 3]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-12-22,742.150024,761.200012,740.049988,761.200012,761.200012,1083300
2017-12-26,763.960022,775.539978,762.210022,762.210022,762.210022,808300
2017-12-27,771.330017,791.950012,770.950012,791.950012,791.950012,829600

In [73]:
def create_dataset(dataset, look_back=1):
    dataX, dataY = [], []
    for i in range(len(dataset)-1-look_back):
        a = dataset[i:(i+look_back),0]